// -----------------------------------------------------------------------------
// This file contains all styles related to the New Incident component.
// -----------------------------------------------------------------------------

.newIncidentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
}

.content {
  section {
    width: 100%;
    max-width: 380px;

    h1 {
      margin: 64px 0 32px;
      font-size: 32px;
    }

    p {
      font-size: 18px;
      color: var(--secondary-text-color);
      line-height: 32px;
    }

    img {
      width: 260px;
      height: auto;
    }
  }
}

.form {
  width: 100%;
  max-width: 450px;
  margin-left: auto;

  input,
  textarea {
    margin-top: 1rem;
  }
}
